body {
    margin: 0;
    padding: 0;
    background: rgba(207, 207, 211, 0.38);
}
p {
    text-indent: 30px;
}
.header_one {
    background: url("image/Header/Header1.jpg");
    width: 1350px;
    height: 200px;
    margin: 0 auto;
}
.header_text {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: white;
    padding: 15px 0 0 25px;
}
.carousel-container {
    display: block;
    width: 1350px;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.carousel-slides {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}
.slide {
    position: absolute;
    top: 0;
}
.slide:nth-child(1) {
    left: 0;
}
.slide:nth-child(2) {
    left: 100%;
}
.slide:nth-child(3) {
    left: 200%;
}
.slide:nth-child(4) {
    left: 300%;
}
.slide:nth-child(5) {
    left: 400%;
}
.slide:nth-child(6) {
    left: 500%;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 290px;
}
.btn {
    width: 100px;
    height: 100px;
    background-image: url('image/Slider/arrow.png');
    background-position: 0 0;
    background-size: cover;
}
.btn:nth-child(2) {
    transform: rotate(180deg);
}
.btn:hover {
    opacity: 0.5;
    width: 120px;
    height: 120px;
}
#hero {
    width: 250px;
    height: 358px;
    position: relative;
    left: 250px;
    top: 100px;
}
@keyframes hero-stance {
    from {
        top: 0;
    }
    to {
        top: -10px;
    }
}
#hero .stance {
    visibility: hidden;
    background: url("image/Hero/stance.png");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    animation-name: hero-stance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#hero .attack {
    visibility: hidden;
    background: url("image/Hero/attac.png");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
#hero.idle .stance {
    visibility: visible;
}
#hero.attack .attack {
    visibility: visible;
    top: -30px;
}
@keyframes shadow {
    from {
        width: 250px;
    }
    to {
        width: 225px;
        left: 12.5px;
    }
}
#hero .shadow {
    background: url("image/Hero/shadow.png");
    width: 250px;
    height: 84px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 1;
    animation-name: shadow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#hero.attack .shadow {
    animation-name: none;
    width: 225px;
    left: 12.5px;
}
#hero .Superman_text {
    font-size: 55px;
    color: black;
    width: 380px;
    position: absolute;
    left: 150%;
    top: -10px;
}
#hero .Superman_text1 {
    font-size: 25px;
    color: black;
    width: 800px;
    position: absolute;
    left: 130%;
    top: 50px;
}
@keyframes laser {
    from {
        width: 175px;
    }
    to {
        width: 525px;
    }
}
#hero .Laser {
    background: url("image/Hero/lazer.png");
    width: 180px;
    height: 80px;
    position: absolute;
    left: 145px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: laser;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#hero .Laser::after {
    content: "";
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #ffe500;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 10px 4px #ffe500;
}
.Superman_text12 {
    display: block;
    padding-top: 13px;
}
.Superman_text2 {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.Superman_text2:hover {
    font-size: 25px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #0f0847;
}
.solarsystem {
    margin-top: 200px;
}
.solarsystem__solar1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #0f0847;
    display: block;
}
.solarsystem__solar1:hover {
    color: #470404;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 {
    background-image: url("image/Planet/Sun.png");
    width: 256px;
    height: 256px;
}
.planet {
    width: 1000px;
    margin: 0 auto;
}
.planet1, .planet2, .planet3 {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.planet_image{
    width: 200px;
    height: 200px;
}
.dws {
    margin-top: 40px;
}
#solar {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff7c00;
    font-size: 20px;
    color: #f3ffe3;
}
#solar:hover {
    cursor: pointer;
}
.solar-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border: 2px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    cursor: pointer;
    background-color: #ff7c00;
    opacity: 0.5;
    border-radius: 50%;
}
.modal1 {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.5);
 }
.modal-content1 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1:hover {
    cursor: pointer;
    background-color: #d3855a;
    opacity: 0.5;
    border-radius: 50%;
}
#Mercury {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #d3855a;
    font-size: 20px;
    color: #f3ffe3;
}
.Mercury-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
#Mercury:hover {
    cursor: pointer;
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content2 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Venus {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ca9945;
    font-size: 20px;
    color: #f3ffe3;
}
.Venus-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close2:hover {
    cursor: pointer;
    background-color: #ca9945;
    opacity: 0.5;
    border-radius: 50%;
}
#Venus:hover {
    cursor: pointer;
}




.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content3 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Earth {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #0148e5;
    font-size: 20px;
    color: #f3ffe3;
}
.Earth-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close3:hover {
    cursor: pointer;
    background-color: #0148e5;
    opacity: 0.5;
    border-radius: 50%;
}
#Earth:hover {
    cursor: pointer;
}
.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content4 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close4 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Mars {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff7939;
    font-size: 20px;
    color: #f3ffe3;
}
.Mars-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close4:hover {
    cursor: pointer;
    background-color: #ff7939;
    opacity: 0.5;
    border-radius: 50%;
}
#Mars:hover {
    cursor: pointer;
}
.modal5 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content5 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close5 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Jupiter {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #b0773e;
    font-size: 20px;
    color: #f3ffe3;
}
.Jupiter-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close5:hover {
    cursor: pointer;
    background-color: #b0773e;
    opacity: 0.5;
    border-radius: 50%;
}
#Jupiter:hover {
    cursor: pointer;
}
.modal6 {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.5);
 }
.modal-content6 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Saturn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #e0b825;
    font-size: 20px;
    color: #f3ffe3;
}
.Saturn-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close6:hover {
    cursor: pointer;
    background-color: #e0b825;
    opacity: 0.5;
    border-radius: 50%;
}
#Saturn:hover {
    cursor: pointer;
}
.modal7 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content7 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close7 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Uranus {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #60d2d6;
    font-size: 20px;
    color: #f3ffe3;
}
.Uranus-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close7:hover {
    cursor: pointer;
    background-color: #60d2d6;
    opacity: 0.5;
    border-radius: 50%;
}
#Uranus:hover {
    cursor: pointer;
}
.modal8 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content8 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close8 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Neptune {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #5588e2;
    font-size: 20px;
    color: #f3ffe3;
}
.Neptune-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close8:hover {
    cursor: pointer;
    background-color: #5588e2;
    opacity: 0.5;
    border-radius: 50%;
}
#Neptune:hover {
    cursor: pointer;
}
.modal9 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content9 {
    background-color: #f3ffe3;
    margin: 15% auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #888;
    width: 80%;
}
.close9 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#Pluto {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #8d6238;
    font-size: 20px;
    color: #f3ffe3;
}
.Pluto-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: justify;
    width: 1035px;
}
.close9:hover {
    cursor: pointer;
    background-color: #8d6238;
    opacity: 0.5;
    border-radius: 50%;
}
#Pluto:hover {
    cursor: pointer;
}

